

//SPEAKERS --------------------------
.speakers{
	.artist {
		@include clearfix; // compass

		h3 {
			padding-top: 10px;
			padding-bottom: 5px;
			border-bottom: 1px dotted $lightgray;
			margin-bottom: 5px;
		}
	

		img {
			@include border-radius; //compass 
			float:left;
			margin: {
				right: 10px;
				bottom: 10px;
			}
		}
	}
}


#nextmeeting {
	@include clearfix;

	img{
		width:30%;
		max-width: 130px;
		float: left;

		margin-right: 3%;
	}
}



//socia  media --------------------------
.sociamediaicons {
	.title {
		float: left;
	}
	ul {
		float: left;
		li {
			display: inline-block;
			margin-left:5px;
			img {
				width:30px;
				@include border-radius;
			}
		}
	}
}