/* line 17, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 42, assets/*.png */
.assets-sprite {
  background: url('../img/assets-s8cdb02f07c.png') no-repeat; }

/** RESOURCES **/
@font-face {
  font-family: 'OfficinaBoldSerif';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/offs_b-webfont.eot');
  src: url('../fonts/offs_b-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/offs_b-webfont.woff') format("woff"), url('../fonts/offs_b-webfont.ttf') format("truetype"), url('../fonts/offs_b-webfont.svg#OfficinaSerifBoldNormal') format("svg"); }

@font-face {
  font-family: 'OfficinaBookSerif';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/offs_-webfont.eot');
  src: url('../fonts/offs_-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/offs_-webfont.woff') format("woff"), url('../fonts/offs_-webfont.ttf') format("truetype"), url('../fonts/offs_-webfont.svg#OfficinaSerifBookNormal') format("svg"); }

/** LAYOUT **/
/* line 1, ../../../source/sass/layouts/base/_layout.scss */
body {
  background: #eae3cb;
  color: #1b6e88;
  font-size: 12px;
  font-size: 0.75rem; }

/* line 9, ../../../source/sass/layouts/base/_layout.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 20px;
  font-size: 1.25rem;
  text-shadow: white 1px 1px; }

/* line 16, ../../../source/sass/layouts/base/_layout.scss */
h1 {
  margin: 20px 0 0 0;
  color: #bd3613;
  border-bottom: 1px solid #819090;
  line-height: 100%; }

/* line 23, ../../../source/sass/layouts/base/_layout.scss */
h3 {
  line-height: 60%; }

/* line 27, ../../../source/sass/layouts/base/_layout.scss */
a {
  text-decoration: underline;
  color: mediumgray; }
  /* line 30, ../../../source/sass/layouts/base/_layout.scss */
  a:hover {
    color: #bd3613; }

/* line 35, ../../../source/sass/layouts/base/_layout.scss */
p {
  margin-bottom: 10px; }

/* line 39, ../../../source/sass/layouts/base/_layout.scss */
.small {
  font-size: 16px;
  font-size: 1rem;
  color: #2176c7; }

/* line 47, ../../../source/sass/layouts/base/_layout.scss */
.layout {
  overflow: hidden;
  *zoom: 1;
  padding: 3%; }
  @media only screen and (max-width: 768px) {
    /* line 51, ../../../source/sass/layouts/base/_layout.scss */
    .layout .primary {
      width: 25%;
      float: right;
      margin: auto; } }

/* line 62, ../../../source/sass/layouts/base/_layout.scss */
.clear {
  clear: both; }

/* line 2, ../../../source/sass/layouts/base/_normalize.scss */
::selection {
  background: #0a2933;
  /* Safari */
  color: #fff; }

/* line 6, ../../../source/sass/layouts/base/_normalize.scss */
::-moz-selection {
  background: #0a2933;
  /* Firefox */
  color: #fff; }

/* line 2, ../../../source/sass/layouts/commom/_header.scss */
header img {
  width: 95%;
  margin: 2.5%;
  max-width: 500px;
  margin-bottom: 0; }

/* line 11, ../../../source/sass/layouts/commom/_header.scss */
.navigation {
  background: #175c73; }
  /* line 15, ../../../source/sass/layouts/commom/_header.scss */
  .navigation ul.nav li a {
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    color: #fcf4dc; }

/* line 3, ../../../source/sass/layouts/commom/_footer.scss */
footer {
  color: #eae3cb;
  background: #0d3340;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 100px; }

/* line 13, ../../../source/sass/layouts/commom/_footer.scss */
.socialmediaicons .title {
  float: left; }
/* line 17, ../../../source/sass/layouts/commom/_footer.scss */
.socialmediaicons ul {
  float: left; }
  /* line 19, ../../../source/sass/layouts/commom/_footer.scss */
  .socialmediaicons ul li {
    display: inline-block;
    margin-left: 5px; }

/** PAGES **/
/* line 5, ../../../source/sass/pages/_home.scss */
.speakers .artist {
  overflow: hidden;
  *zoom: 1; }
  /* line 8, ../../../source/sass/pages/_home.scss */
  .speakers .artist h3 {
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #819090;
    margin-bottom: 5px; }
  /* line 16, ../../../source/sass/pages/_home.scss */
  .speakers .artist img {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px; }

/* line 28, ../../../source/sass/pages/_home.scss */
#nextmeeting {
  overflow: hidden;
  *zoom: 1; }
  /* line 31, ../../../source/sass/pages/_home.scss */
  #nextmeeting img {
    width: 30%;
    max-width: 130px;
    float: left;
    margin-right: 3%; }

/* line 44, ../../../source/sass/pages/_home.scss */
.sociamediaicons .title {
  float: left; }
/* line 47, ../../../source/sass/pages/_home.scss */
.sociamediaicons ul {
  float: left; }
  /* line 49, ../../../source/sass/pages/_home.scss */
  .sociamediaicons ul li {
    display: inline-block;
    margin-left: 5px; }
    /* line 52, ../../../source/sass/pages/_home.scss */
    .sociamediaicons ul li img {
      width: 30px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px; }
