body {
  background: $paleyellow;
  color: lighten($darkblue,20);
  @extend %font-normal;
  @include font-size(12);
}

//generate all the heading stylings// see COMPASS > selector helpers  
#{headings()} {
  @extend %font-bold;
  @include font-size(20);
  @include text-shadow(lighten($paleyellow,40) 1px 1px);
}


h1 {
  margin:20px 0 0 0;
  color:$orange;
  border-bottom: 1px solid $lightgray;
  line-height: 100%;
}

h3 {
  line-height: 60%;
}

a {
  text-decoration: underline;
  color: mediumgray;
  &:hover{ // & same thing as colon hover
    color:$orange;
  }
}

p {
  margin-bottom: 10px;
}

.small{
  @include font-size(16);
  color:$blue;
}


/// LAYOUT CLASS // controll sizes responsivo

.layout {
  padding: 3%;
}