<!-- content-center -->
<div class="content-center">

  <h2>Sobre a Vivo</h2>

  <p>
    A Telefônica Vivo é a maior empresa de telecomunicações do País: são 91,7  milhões de clientes, sendo 76,6 milhões apenas na operação móvel - é o maior market share do segmento (28,6%) em âmbito nacional, de acordo com resultados do balanço trimestral (3T13).
  </p>

  <p>
    A Telefônica Vivo atua na prestação de serviços de telefonia fixa no Estado de São Paulo e telefonia móvel em todo o território nacional. Também conta com um portfólio de produtos completo e convergente (voz fixa e móvel, banda larga fixa e móvel, ultra banda larga (over fiber), TV, dados e  TI).
  </p>

  <p>
    A empresa está presente em mais de 3,7 mil cidades. Destas, mais de 3,1 mil delas têm acesso à rede 3G e mais de 60 estão cobertas com 4G.  O Brasil, onde atuamos desde 1998, é a maior operação mundial da Telefônica em número de clientes.
  </p>

  <p>
    O Grupo Telefônica é um dos maiores conglomerados de comunicação do mundo, com presença em 24 países, 320,3 milhões de acessos, 131,7 mil empregados e receitas de 62,3 bilhões de euros (2012). Os investimentos previstos para o Brasil no período 2011-2014 totalizam R$ 24,3 bilhões. As principais empresas são Telefônica Brasil (Telefônica Vivo) e Terra (provedor e portal de internet). A Telefônica possui as marcas Movistar, O2 e Vivo no Brasil.
  </p>

</div>
<!-- / content-center -->

<!-- bg-about -->
<img class="bg-about" src="" alt="" />
<!-- / bg-about -->